# Dasar Pemrograman Python

## Tipe data dan variabel

###### Variabel

# Variabel : merupakan tempat untuk menamai data dengan tipe tertentu.

Contoh variabel 
total_harga = 15000 ---> "total_harga" merupakan variabel.
sepatu = {"nama" : "Sepatu Niko", "harga": 150000, "diskon" : 30000} ---> "Sepatu" merupakan variabel

###### Integers

# Integers : merupakan tipe data berupa bilangan bulat negatif dan positif.

Contoh : 0, 1, 3, -2, -9

In [7]:
# Contoh data integer
bilangan_bulat = (0, 1, 3, -2, -9)

print(bilangan_bulat)

(0, 1, 3, -2, -9)

###### Float

# Float/real : merupakan tipe data berupa bilangan koma.

Contoh : 3.12, 0.34, 0.44

In [8]:
# Contoh data Float
bilangan_koma = (3.12, 0.34, 0.44)

print(bilangan_koma)

(3.12, 0.34, 0.44)

###### String

# String : merupakan tipe data berupa huruf, kata, atau karakter lain. Penulisannya diawali dan diakhiri tanda petik.

Contoh : "makan", "durian"

In [9]:
# Contoh data string
buah = ("durian", "apel")

print(buah)

('durian', 'apel')

###### Boolean

# Boolean : merupakan tipe data yang hanya punya dua nilai, yaitu True atau False. Booelan berguna ketika berurusan dengan kondisi dan perulangan.

Contoh : True dan False

In [10]:
# Contoh data boolean
a = 6
b = 3

c = b>a

print("Output data boolean adalah ", c)

Output data boolean adalah  False

data boolean yang keluar adalah False, karena b tidak lebih kecil dari a.

## Data struktur

###### Array

# Array : berisi sekumpulan variabel yang memiliki tipe data yang sama. 

Contoh : ['Umar', 'Bakrie', 'Ammar'] dan [3, 5, 1]

###### List

# List : merupakan strukur data yang menyimpan kumpulan item; dapat berupa integer, float, booelan, strange. Ditulis dengan tanda kurung siku dan nilai di dalamnya dipisahkan dengan koma. List merupakan urutan nilai

Contoh : list1 = ['soto', 'bakso', 1000, 3000]
         list2 = [4, 2, 5, 6, 7]

In [30]:
# Contoh penulisan list
list1 = ['soto', 'bakso', 1000, 3000]
list2 = [4, 2, 5, 6, 7]

print(list1)
print(list2)

['soto', 'bakso', 1000, 3000]
[4, 2, 5, 6, 7]

###### Tuples

# Tuples : merupakan urutan objek python yang tidak berubah. Bedanya dengan list, Tuples ditulis dengan tanda kurung () sedangkan list menggunakan kurung siku [].

Contoh : tup1 = ('soto', 'bakso', 1000, 3000)
         tup2 = (4, 2, 5, 6, 7)

In [25]:
# Contoh penulisan tuples 
tup1 = ('soto', 'bakso', 1000, 3000)
tup2 = (4, 2, 5, 6, 7)

print(tup1)
print(tup2)

('soto', 'bakso', 1000, 3000)
(4, 2, 5, 6, 7)

###### Dictionary

# Dictionary : berbeda dengan list dan tuple, dictionary memiliki key dan value pada tiap urutannya. Key dan value dipisahkan dengan titik dua (:). Dictionary ditulis dengan kurung kurawal {}. Konsep utama dictionary adalah bahwa untuk setiap nilai memiliki kunci unik. 

Contoh : Film = {'Judul' : 'Naruto', 'Genre' : Action}

In [16]:
# Contoh penulisan Dictionay
Film = {'Judul' : 'Naruto', 'Genre' : 'Action', 'Rating' : 9}
print(Film)

{'Judul': 'Naruto', 'Genre': 'Action', 'Rating': 9}

###### Sets

# Sets : himpunan

In [5]:
# Contoh sets
set1 = set('python')
set1

{'h', 'n', 'o', 'p', 't', 'y'}

###### Files

# Files : bagian dari struktur data. Berfungsi untuk membuka, menutup, menulis, membaca data.

Contoh : close(), open()

## Simbol khusus python

Simbol khusus pada pyhton dinamakan operator. Gunanya untuk melakukan operasi matematika. Ada 3 jenis operator, yaitu aritmatika untuk operasi matematika, perbandingan, dan logika.

In [12]:
# HIRAUKAN CODINGANNYA, FOKUS PADA TABEL OPERATOR ARITMATIKA SAJA

import pandas as pd
df1 = pd.DataFrame([
    ["+", "Penjumlahan", "a + b + 9"],
    ["-", "Pengurangan", "a - b - 8"],
    ["*", "Perkalian", "a * b"],
    ["/", "Pembagian", "a / b"],
    ["%", "Modulus atau sisa hasil bagi", "a % b"],
    ["//", "Pembagian pembulatan ke bawah", "a // b"],
    ["**", "Pemangkatan", "a ** b"]
])

df1.columns = ["Operator", "Keterangan", "Contoh"]

print("BERIKUT ADALAH OPERATOR ARITMATIKA")
df1

BERIKUT ADALAH OPERATOR ARITMATIKA

  Operator                     Keterangan     Contoh
0        +                    Penjumlahan  a + b + 9
1        -                    Pengurangan  a - b - 8
2        *                      Perkalian      a * b
3        /                      Pembagian      a / b
4        %   Modulus atau sisa hasil bagi      a % b
5       //  Pembagian pembulatan ke bawah     a // b
6       **                    Pemangkatan     a ** b

In [15]:
# HIRAUKAN CODINGANNYA, FOKUS PADA TABEL OPERATOR PERBANDINGAN SAJA

df3 = pd.DataFrame ([
    [">", "Nilainya benar kalau operasi kiri lebih besar dari operasi kanan", " 2 > 1"],
    ["<", "Nilainya benar kalau operasi kiri lebih kecil dari operasi kanan", "1 < 2"],
    ["==", "Nilainya benar kalau operasi kanan dan kiri nialinya sama", "a == b"],
    ["!=", "Nialinya benar kalau kedua operasi nialinya berbeda", "a != b"],
    [">=", "Nilainya benar kalau operasi kiri nilainya lebih besar atau sama dengan operasi kanan", "a >= b"],
    ["<=", "Nilainya benar kalau operasi kiri nilainya lebih kecil atau sama dengan oprasi kanan", "a <= b"]
])

df3.columns = ["Operator", "Keterangan", "Contoh"]
pd.set_option('display.max_colwidth',1000)
df3

print("BERIKUT OPERATOR PERBANDINGAN")
df3

BERIKUT OPERATOR PERBANDINGAN

,Operator,Keterangan,Contoh
0,>,Nilainya benar kalau operasi kiri lebih besar dari operasi kanan,2 > 1
1,<,Nilainya benar kalau operasi kiri lebih kecil dari operasi kanan,1 < 2
2,==,Nilainya benar kalau operasi kanan dan kiri nialinya sama,a == b
3,!=,Nialinya benar kalau kedua operasi nialinya berbeda,a != b
4,>=,Nilainya benar kalau operasi kiri nilainya lebih besar atau sama dengan operasi kanan,a >= b
5,<=,Nilainya benar kalau operasi kiri nilainya lebih kecil atau sama dengan oprasi kanan,a <= b

In [14]:
# HIRAUKAN CODINGANNYA, FOKUS PADA TABEL OPERATOR lOGIKA SAJA

df2 = pd.DataFrame([
    ["and", 'Bernilai benar kalau KEDUA statement nilainya benar', 'a and y'],
    ['or', 'Bernilai benar kalau SALAH SATU dari kedua statement nlainya benar', 'a or y'],
    ['not', 'Bernilai kebalikan dari statement yang awal', '!a']
])

df2.columns = ["Operator", 'Keterangan', 'Contoh']

pd.set_option('display.max_colwidth',1000)
df2

print('BERIKUT ADALAH OPERATOR LOGIKA')
df2

BERIKUT ADALAH OPERATOR LOGIKA

,Operator,Keterangan,Contoh
0,and,Bernilai benar kalau KEDUA statement nilainya benar,a and y
1,or,Bernilai benar kalau SALAH SATU dari kedua statement nlainya benar,a or y
2,not,Bernilai kebalikan dari statement yang awal,!a

## Fungsi dan Method

# Fungsi berisi kode program.

Fungsi sangat penting karena dapat mempermudah memanggil kode program yang panjang. Fungsi juga dapat memecah program besar menjadi sub program yang lebih sederhana.

# Cara membuat Fungsi pada Python
Dengan menggunakan kata kunci "def" lalu diikuti dengan nama fungsinya. Lalu dibawahnya merupakan body/isi dari fungsi tersebut. Penulisan body harus disertai indentasi (jarak).

# Fungsi akan muncul apabila sudah dipanggil

# Method adalah perilaku atau kegiatan. Ciri mudah method yaitu diawali dengan titik "."

In [18]:
# Membuat Fungsi
def judul_film():
    print("Naruto, Fate, Konosuba, Spiderman")

# Memanggil Fungsi
judul_film()

Naruto, Fate, Konosuba, Spiderman

In [21]:
# Membuat method
# Method hanya bisa disandingkan dengan satu variabel saja

buah = "Apel, manggis, mangga"     # membuat variabel
buah.upper()    # memberikan method pada variable, method .upper() untuk mengubah menjadi huruf kapital. 
                # Jadi kegiatan dari method disini adalah mengubah huruf kecil menjadi kapital

'APEL, MANGGIS, MANGGA'

## If Else Statement

If Else Statement berguna untuk memberi kemungkinan dua jawaban, antara ya atau tidak.

In [24]:
# Penulisan If Else

# Buat dulu variabelnya
x = 9
y = 5
z = 0

# Contoh if else 1 
if x == y:
    print("Yes")
else :
    print("no")

no

if else statement diatas mengatakan bahwa, jika x = y, maka hasilnya akan yes, 
tetapi jika x tidak sama dengan y maka hasilnya keluar no.

In [25]:
# Contoh if else 2 
if (y-z) * x == 5 and y - z * x == 5:
    print("Benar")
else:
    print("Salah")

Salah

Hasil yang keluar adalah "salah" karena operator "and" hasilnya akan benar apabila keduanya benar. Sedangkan di atas salah satunya salah.

#### Nested If / If else lebih dari satu kali

Maksudnya yaitu terdapat if else lain didalam if else. 
Menggunakan elif untuk pengganti if yang berada didalam if else.

In [28]:
# contoh
x = 9
y = 5
z = 0

if x == y:
    if(x != 9):
        print("x dan y bukan angka 9")
    else:
        print("X = Y")
elif(x >= y):
    print("x lebih dari sama dengan y")
else:
    print("yang bener x =", 9, "y =", 5)

x lebih dari sama dengan y

#### Statement pass
Statement pass artinya tidak melakukan proses apapun. Hanya diperlukan sintaksnya saja tanpa memerlukan proses apapun.

In [2]:
# Contoh statement pass
x = 9
if(x>9):
    x = 10
else:
    pass

# Walaupun sudah di run tetapi tidak menghasilkan apapun.

## Loop statement / Perulangan

Berguna untuk melakukan perulangan, baik itu memproses, menampilkan data, atau lainnya.

###### while loop

while loop merupakan perulangan yang tidak ditentukan batas akhirnya, perulangan akan terus berjalan selama kondisi true.

In [10]:
# Contoh 1 
hitungan = 0                         # perintah untuk input angka 0 didalam variabel "hitungan"
while (hitungan < 10):               # maksudnya adalah selama nilai variabel "hitungan" < 10, perulangan akan terus dilakukan
    print ("Hitungan ke: ", hitungan)  
    hitungan = hitungan + 1          # berfungsi untuk menaikkan 1 angka pada variabel "hitungan" setiap kali setelah perulangan

print("Stop, hitungan harus < 10")

Hitungan ke:  0
Hitungan ke:  1
Hitungan ke:  2
Hitungan ke:  3
Hitungan ke:  4
Hitungan ke:  5
Hitungan ke:  6
Hitungan ke:  7
Hitungan ke:  8
Hitungan ke:  9
Stop, hitungan harus < 10

In [11]:
# Contoh 2 
i = 1
while i < 9:
    print("hari ke", i)
    i = i+2

hari ke 1
hari ke 3
hari ke 5
hari ke 7

###### for loop

Perulangan for untuk perulangan array/himpunan.

In [12]:
# Contoh 1 
buah = ["mangga", 'salak', 'semangka', 'melon'] # memasukkan variabel untuk data list, terdapat 4 element disini
for jenis in buah:  # artinya adalah menggunakan perulangan for, kita menampilkan isi variabel "buah". Variable "jenis" untuk menampilkan element
    print(jenis)

mangga
salak
semangka
melon

In [13]:
# Contoh 2 
film = ['naruto', 'spiderman', 'superman', 'kimi no nawa']
for nonton in film:
    print("Hari ini nonton", nonton)

Hari ini nonton naruto
Hari ini nonton spiderman
Hari ini nonton superman
Hari ini nonton kimi no nawa

## Break dan Continue

Break berfungsi untuk menghentikan looping ketika terjadi kondisi tertentu. Continue untuk mengulangi pengulangan.

###### Break

In [26]:
hitungan = 0                        
while (hitungan < 10):              
    print ("Hitungan ke: ", hitungan)  
    hitungan = hitungan + 1
    if hitungan == 4:
        break

Hitungan ke:  0
Hitungan ke:  1
Hitungan ke:  2
Hitungan ke:  3

Loop diatas seharunya akan berhenti ketika sampai pada hitungan ke 9, tetapi karena ada perintah break saat hitungan ke 4, maka proses dihentikan.

###### Continue

In [42]:
hitungan = 0                        
while (hitungan < 10):              
    hitungan = hitungan + 1
    if hitungan == 4:
        continue
    print ("Hitungan ke: ", hitungan)

Hitungan ke:  1
Hitungan ke:  2
Hitungan ke:  3
Hitungan ke:  5
Hitungan ke:  6
Hitungan ke:  7
Hitungan ke:  8
Hitungan ke:  9
Hitungan ke:  10

pada hitungan ke: 4 langsung terloncati melanjutkan ke hitungan ke: 5 dst.